name: bitecare_app
description: "A new Flutter project."
publish_to: "none"

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  intl: ^0.19.0
  shared_preferences: ^2.5.1
  table_calendar: ^3.1.1
  image_picker: ^1.0.7
  provider: ^6.1.5+1
  google_fonts: ^6.1.0

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
